ADMIN_INITIAL_EMAIL=
ADMIN_INITIAL_PASSWORD=
DB_HOST=
DB_NAME=
DB_PASSWORD=
DB_PORT=
DB_USER=
EMAIL_API_KEY=
EMAIL_FROM=
EMAIL_SERVICE_PROVIDER=
FILE_STORAGE_API_KEY=
FILE_STORAGE_BUCKET=
FILE_STORAGE_PROVIDER=
FILE_STORAGE_SECRET=
GEMINI_API_KEY=
JWT_SECRET=
SESSION_SECRET=